@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // PUT CUSTOM LAYOUT HERE
}

@if (Request.IsAuthenticated) {
    <p>
        Hello, @Html.ActionLink(User.Identity.Name, "ChangePassword", "Access", routeValues: null, htmlAttributes: new { @class = "username", title = "Сменить пароль" })!
        @Html.ActionLink("Віход", "LogOff", "Access")
    </p>
} else {
    <ul>
        <li>@Html.ActionLink("Вход", "Login", "Access", routeValues: null, htmlAttributes: new { id = "loginLink", data_dialog_title = "Представся" })</li>
    </ul>
}