@font-face {
	font-family: 'RexLightRegular';
	src: url('/Content/Home/fonts/rel-light-cyr/rex_light-webfont.eot');
	src: url('/Content/Home/fonts/rel-light-cyr/rex_light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/Content/Home/fonts/rel-light-cyr/rex_light-webfont.woff') format('woff'),
		 url('/Content/Home/fonts/rel-light-cyr/rex_light-webfont.ttf') format('truetype'),
		 url('/Content/Home/fonts/rel-light-cyr/rex_light-webfont.svg#RexLightRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

#slogan {
	text-align: center;
}

#progressDeclarator h1 {
	font-family: 'RexLightRegular';
	font-size: 2em;
}