@{
    ViewBag.Title = "RadaCode";

    Html.RequiresCss("Home/home.css", "Content", 101);

    Layout = "~/Views/Shared/_Layout.en.cshtml";
}

<div id="slogan">
    <h1>Programming the World</h1>
</div>