@font-face {
	font-family: 'RexBoldBold';
	src: url('fonts/rex/rex_bold-webfont.eot');
	src: url('fonts/rex/rex_bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/rex/rex_bold-webfont.woff') format('woff'),
		 url('fonts/rex/rex_bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RexLightRegular';
	src: url('fonts/rex/rex_light-webfont.eot');
	src: url('fonts/rex/rex_light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/rex/rex_light-webfont.woff') format('woff'),
		 url('fonts/rex/rex_light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#slogan {
	text-align: center;
}

#slogan h1 {
	font-family: RexLightRegular;
	font-size: 2em;
}