@{
    ViewBag.Title = "Shipyard of RadaCode";

    Html.RequiresCss("Home/home.css", "YardContent", 101);

    Layout = "../Shared/_Layout.en.cshtml";
}

@*<h2>Shipyard - is where ships are built.</h2>
<h2>In RadaCode shipyard, we build web applications.</h2>*@

<div id="progressDeclarator">
    <h1>Currently in progress:</h1>
</div>